<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TriviaCON™</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div>
    <h1 class="text-center mb-0">
      <span class="text-white">Trivia<span class="gradient-text">CON</span></span>
    </h1>
    <div class="text-center mb-100">
      <span class="tagline ">A modern tool for Convention Quiz makers.</span>
    </div>
    <div class="text-center soon">
      <span class="">Coming Soon™</span>
    </div>
  </div>
</body>

</html>

</html>